In [6]:
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
import pandas as pd 
from sklearn.model_selection import train_test_split

In [7]:
input_path = '/Users/lohries/Desktop/Python/Machine_Learning/Exercises/Csv/stars.csv'
data_frame = pd.read_csv(input_path)
data_frame.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

In [8]:
data_frame.isnull().any() #Complete data

Temperature (K)           False
Luminosity(L/Lo)          False
Radius(R/Ro)              False
Absolute magnitude(Mv)    False
Star type                 False
Star color                False
Spectral Class            False
dtype: bool

In [10]:
data_frame["Spectral Class"] = data_frame["Spectral Class"].map({'M': 0, 'B' : 1, 'F' : 2, 'O' : 3})
data_frame.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,0.0
1,3042,0.000500,0.1542,16.60,0,Red,0.0
2,2600,0.000300,0.1020,18.70,0,Red,0.0
3,2800,0.000200,0.1600,16.65,0,Red,0.0
4,1939,0.000138,0.1030,20.06,0,Red,0.0

In [11]:
data_frame["Star color"] = data_frame["Star color"].str.upper()
data_frame.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,RED,0.0
1,3042,0.000500,0.1542,16.60,0,RED,0.0
2,2600,0.000300,0.1020,18.70,0,RED,0.0
3,2800,0.000200,0.1600,16.65,0,RED,0.0
4,1939,0.000138,0.1030,20.06,0,RED,0.0