**1. Imports**

In [11]:
import numpy as np
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, Flatten
import matplotlib.pyplot as plt 
import matplotlib.image as img

import pandas as pd

**2. Data Visualization**

In [8]:
csv_path_Train = '/Users/lohries/Downloads/Placas/Train.csv'
csv_path_Test = '/Users/lohries/Downloads/Placas/Test.csv'
images_path_Train = '/Users/lohries/Downloads/Placas/Train'
images_path_Test = '/Users/lohries/Downloads/Placas/Test'
train_images = []
data_Train = pd.read_csv(csv_path_Train)
data_Test = pd.read_csv(csv_path_Test)

In [9]:
data_Train.head()

,Width,Height,Roi.X1,Roi.Y1,Roi.X2,Roi.Y2,ClassId,Path
0,27,26,5,5,22,20,20,Train/20/00020_00000_00000.png
1,28,27,5,6,23,22,20,Train/20/00020_00000_00001.png
2,29,26,6,5,24,21,20,Train/20/00020_00000_00002.png
3,28,27,5,6,23,22,20,Train/20/00020_00000_00003.png
4,28,26,5,5,23,21,20,Train/20/00020_00000_00004.png

In [10]:
data_Test.head()

   Width  Height  Roi.X1  Roi.Y1  Roi.X2  Roi.Y2  ClassId            Path
0     53      54       6       5      48      49       16  Test/00000.png
1     42      45       5       5      36      40        1  Test/00001.png
2     48      52       6       6      43      47       38  Test/00002.png
3     27      29       5       5      22      24       33  Test/00003.png
4     60      57       5       5      55      52       11  Test/00004.png

In [ ]:
image = img.imread()